* {
  font-family: sans-serif;
  /*text-align: center;*/
}
.d-work {
  display: flex;
  /*flex-direction: row;*/
}
.ofisPic {
  height: 250px;
  width: 200px;
  padding: 20px 40px;
}
nav {
  align-items: center;
}
